
.default-layout {
    display: grid;
    grid-template-rows: min-content auto min-content;

    min-height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width:980px) {
    .default-layout {
        font-size: 1rem;
    }
    
}